@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::selection {
  background: #155DFC;
  color: #000;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #155DFC;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #155DFC black;
}